* {
    font-family: Helvetica, sans-serif;
    font-size: 0px;
}

p, p span {
    font-size: 30px;
    text-align: center;
}

button {
    width: 96px;
    height: 60px;
    font-size: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    margin: 2px;
}

button:hover {
    background-color: #dddddd;
}

#buttons {
    width: 312px;
    height: 66px;
    margin: auto;
}

.cell {
    display: inline-block;
    vertical-align: middle;

    width: 50px;
    height: 50px;
    line-height: 50px;

    font-size: 20px;
    text-align: center;

    background-color: #dddddd;
    border: 1px solid #000000;
    margin: -1px;
}

#board {
    width: 504px;
    /* padding-top: 40px; */
    margin: auto;
}